
body{
    background-color: mediumspringgreen
}
h1{
background-color: rgb(116, 116, 196);
color: black
}

#p1{
color:red
}
#p2{
    color:orange
}
#p3{
    color:rgb(146, 146, 37)
}
#p4{
color:green
}